<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    
</head>
<body>
    <section>
        <div class="circle"> </div>
        <header>
            <a href="#"><img src="static/imagens/logo.jpg" alt="logo" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">contato</a></li>
                    <li><a href="#">Entrar</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="text">
                <h2>MAIS RÁPIDO, MAIS PRÁTICO <br> <span>PARA VOCÊ</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi vitae quasi labore dignissimos rem ducimus quae atque perspiciatis aliquam voluptate unde nesciunt veniam, sit ea dolorem! Mollitia, placeat temporibus.</p>
                <a href="formulario.html"><span>CADASTRE-SE</span></a>
            </div>
        </div>
        <ul class="icons">
            <li><a href="#"><img src="static/imagens/facebook.png" alt="icons"></a></li>
            <li><a href="#"><img src="static/imagens/instagram.png" alt="icons"></a></li>
            <li><a href="#"><img src="static/imagens/twitter.png" alt="icons"></a></li>
        </ul>
        <div class="boxImg">
            <img src="static/imagens/pc.png" alt="" class="img">
        </div>
    </section>
</body>
</html>