<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sobre.css') }}">
    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/imagens/logo_01.jpeg" alt="Logo da Empresa">
        </div>
        <h1>Sobre Nós</h1>
        <a id="back-button" href="homepage.html">Voltar para a Página Inicial</a>
    </header>

    <div class="container">
        <p>Nós, como uma plataforma digital inteiramente gratuita, temos a missão de auxiliar as pessoas na localização de medicamentos gratuitos disponíveis em postos de saúde e farmácias. A nossa identidade é forjada pela dedicação em simplificar o acesso a informações vitais sobre a disponibilidade de medicamentos, contribuindo para a promoção da saúde e bem-estar de todos. Acreditamos no direito fundamental de acesso a medicamentos essenciais e estamos empenhados em tornar essa busca mais acessível para nossa comunidade.</p>
    </div>
</body>
</html>
